<div class="container">
  <div class="form_container">
    <h2 class="section_title">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field form_group">
        <%= f.label :name %>
        <%= f.text_field :name, autocomplete: "name", autofocus: true, class: "form_control" %>
      </div>
      <div class="field form_group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form_control" %>
      </div>

      <div class="field form_group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form_control" %>
      </div>

      <div class="field form_group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form_control" %>
      </div>

      <div class="field form_group">
        <%= f.label :role do %>
          <%= f.radio_button :role, "admin" %>
          Admin
          <% end %>
      </div>

      <div class="field form_group">
        <%= f.label :role do %>
        <%= f.radio_button :role, "user", checked: true %>
        User
        <% end %>
      </div>

      <div class="actions form_group">
        <%= f.submit "Sign up", class: 'btn' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
