<div class="container">
  <h2 class="post_page_title">
    <span class="post_item_title"><%= @post.title %> by <b><%= @post.author.name %></b></span>
    <span>
      <span class="item_counter"><b>Comments: </b> <%= @post.comments_counter %></span>, 
      <span class="item_counter"><b>Likes:</b> <%= @post.likes_counter %></span>
    </span>
  </h2>
  <p class="content_text"><%= @post.text %></p>
</div>

<div class="container">
  <%= render partial: 'partials/comments', object: @post.most_recent_comments, as: :comments %>
</div>
